<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_436577151d896c2251a74754dfbb9254 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    
                <style>
                    #float_image_27b996612579c237f22a6e6b88c4f4c1 {
                        position:absolute;
                        bottom:10%;
                        left:20%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_436577151d896c2251a74754dfbb9254" ></div>
        
    
            <img id="float_image_27b996612579c237f22a6e6b88c4f4c1" alt="float_image"
                 src="https://www.zupimages.net/up/22/39/h8au.png"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_436577151d896c2251a74754dfbb9254 = L.map(
                "map_436577151d896c2251a74754dfbb9254",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                    basemap: "HYBRID",
                    pluginDraw: false,
                    DrawExport: false,
                    locateControl: false,
                    pluginLatlngpopup: false,
                    eeInitialize: true,
                    pluginFullscreen: true,
                    pluginMinimap: false,
                    pluginLayercontrol: false,
                    searchControl: true,
                }
            );

            

        
    
            var tile_layer_36d586cfdb403653936a520de656147e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var tile_layer_c0cecca690875e627197797f14d87147 = L.tileLayer(
                "https://mt1.google.com/vt/lyrs=y\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "Google", "detectRetina": false, "maxNativeZoom": 22, "maxZoom": 22, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "topleft", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            L.Control.geocoder(
                {"collapsed": true, "defaultMarkGeocode": true, "position": "topleft"}
            ).on('markgeocode', function(e) {
                map_436577151d896c2251a74754dfbb9254.setView(e.geocode.center, 11);
            }).addTo(map_436577151d896c2251a74754dfbb9254);

        
    
            map_436577151d896c2251a74754dfbb9254.fitBounds(
                [[20, 0], [20, 0]],
                {"maxZoom": 2}
            );
        
    
            var tile_layer_9370ce8ad5b6f4c5c95df89f888f6520 = L.tileLayer(
                "https://mt1.google.com/vt/lyrs=y\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "Google", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var tile_layer_ca011cfde7d295a4bc9fd92419df1716 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/b43cf524c804b8db9d4b24d70693456d-ec711f4f11f063d61a6a4b0b42a74989/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1.0, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var tile_layer_ff15551fa8962f616dde858e2e4e99da = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/5860c60fefa3c3d05300e851822a42ed-fd4f20cc553bbfafde633854945ac89a/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1.0, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var tile_layer_e29431c645bb30f5da99a3f81751bc1b = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/6674821746f5c9c2986dbcc26d593f0d-2987dccb1f18e1639fc3f6e302625a43/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1.0, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var tile_layer_722734603f9775091463d064246ca245 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/e28c4b7d095e204931f79268d3e154d5-4c419d35f7689020edfaf52d8a9a4528/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1.0, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var tile_layer_db57a75aa04f901797ae714aad45bd72 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/9d35d2d0d2b80ffe37932d5a94666143-1915657c30e939c1dc9e388d6d94ae0e/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1.0, "subdomains": "abc", "tms": false}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
    
            var layer_control_960476fdccaea37096cef2e5531e98a1 = {
                base_layers : {
                    "openstreetmap" : tile_layer_36d586cfdb403653936a520de656147e,
                },
                overlays :  {
                    "Google Satellite" : tile_layer_9370ce8ad5b6f4c5c95df89f888f6520,
                    "LS" : tile_layer_ca011cfde7d295a4bc9fd92419df1716,
                    "R" : tile_layer_ff15551fa8962f616dde858e2e4e99da,
                    "C" : tile_layer_e29431c645bb30f5da99a3f81751bc1b,
                    "K" : tile_layer_722734603f9775091463d064246ca245,
                    "RUSELE" : tile_layer_db57a75aa04f901797ae714aad45bd72,
                },
            };
            L.control.layers(
                layer_control_960476fdccaea37096cef2e5531e98a1.base_layers,
                layer_control_960476fdccaea37096cef2e5531e98a1.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_436577151d896c2251a74754dfbb9254);
        
</script>